<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>drop.olezh.es</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css" integrity="sha256-Q0zCrUs2IfXWYx0uMKJfG93CvF6oVII21waYsAV4/8Q=" crossorigin="anonymous" />

        <style>
            body {
                font-family: sans-serif;
            }

            a {
                color: #0060a0;
                text-decoration: none;
                border-bottom: 1px solid rgba(0,96,160,.2);
            }
            a:hover {
                color: #d04000;
                border-bottom-color: rgba(208,64,0,.2);
            }
            h1 a {
                border-bottom-width: 2px;
            }

            textarea:focus {
                border-color: #4caf50 !important;
            }

            .pure-button-primary {
                background-color: #4caf50;
            }

            .container {
                max-width: 640px;
                padding: 16px;
                margin: 0 auto;
            }

            .drop-header {
                margin-bottom: 4em;
            }

            .drop-header__link {
                color: #000;
            }

            .drop {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 12px 16px;
                word-wrap: break-word;
            }

            .new-drop-form {
                margin-top: 4em;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="drop-header">
                <h1>drop.<a class="drop-header__link" href="//olezh.es">olezh.es</a></h1>
                <p>Drop text for 5 minutes</p>
            </div>

            {{range .}}
            <p class="drop">
                {{.}}
            </p>
            {{end}}

            <form class="new-drop-form pure-form pure-form-stacked" method="post" action="/" onsubmit="return document.getElementById('text').value != ''">
                <textarea class="pure-input-1" name="text" id="text" rows="3" autofocus></textarea>
                <button class="pure-button pure-input-1 pure-button-primary" type="submit">Drop</button>
            </form>
        </div>
    </body>
</html>
